@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #f9fbff;
  --color-primarytext: #f9fbff;
  --color-primary: #8bd4c5;
  --color-secondary: #996bf6;
  --color-tertiary: #8bd4c5;
  --font-sans: "Noto Sans", sans-serif;
  --color-newGray: #ced4e3;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}

h1 {
  @apply text-5xl font-bold leading-50;
}

@layer base {
  * {
    @apply p-0;
  }
  body {
    @apply bg-background text-black font-sans my-10;
  }
}
